name: First Workflow
on: [push, workflow_dispatch]
jobs:
  linting_code:
    runs-on: ubuntu-latest
    steps:
      - name: Get code
        uses: actions/checkout@v4 
      - name: Install dependencies
        run: npm ci
      - name: Run Linting
        run: npm run lint 
        
  testing_code:
    runs-on: ubuntu-latest
    steps:
      - name: Get code
        uses: actions/checkout@v4  
      - name: Install dependencies
        run: npm ci        
      - name: Test code
        run: npm run test      

  deploying_code:
    runs-on: ubuntu-latest
    steps:
      - name: Get code
        uses: actions/checkout@v4  
      - name: Install dependencies
        run: npm ci      
      - name: build code
        run: npm run build        
